---
import myData from "../../constants/data.js";
import { Image } from "astro:assets";
---

<nav class={`navbar min-h-screen flex justify-center items-center lg:justify-start `}>
  <ul class="flex flex-col gap-4 lg:p-10">
    {
      myData.navmenu.map((item, index) => (
        <li>
          <a href={item.url} class="nav-link">
            <div class={`flex flex-col items-center p-2 rounded-md`}>
              <Image src={item.icon} alt={item.name} width={50} height={50} decoding="async" loading="lazy" />
              <span>{item.name}</span>
            </div>
          </a>
        </li>
      ))
    }
    <script type="module">
      setTimeout(() => {
        const path = window.location.pathname;
        const navbar = document.querySelector(".navbar");
        const containerNavbar = document.querySelector(".containerNavbar");
        const mainWindow = document.querySelector(".main-window");
        const windowContainer = document.querySelector(".windowContainer");

        document.querySelectorAll('.nav-link').forEach(link => {
          link.addEventListener('click', function() { 
            let url = new URL(this.href);
            if (url.pathname === path) {
              navbar.classList.add("hidden");
              containerNavbar.classList.add("hidden");
              mainWindow.classList.remove("hidden");
              mainWindow.classList.remove("h-[90vh]");
              mainWindow.classList.remove("w-[80%]");
              mainWindow.classList.remove("pb-3");
              mainWindow.classList.add("min-h-screen");
              windowContainer.classList.remove("hidden");
              windowContainer.classList.remove("flex");
              windowContainer.classList.remove("justify-center");
              
              
            }
          });
        });

      }, 0);
    </script>
  </ul>
</nav>
