---
import { ViewTransitions } from "astro:transitions";
import { background } from "../images/images.js";
import { Image } from "astro:assets";
import '@fontsource/roboto';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/ico" href="/icon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="min-h-screen">
    <div class="absolute inset-0 z-0">
      <Image
        src={background}
        alt="Windows background"
        class="object-cover object-center w-screen h-screen"
        width="1080"
        height="720"
      />
    </div>
	<div class="relative z-10 font-sans">
		<slot />
	</div>
    <style is:global>
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }
      html {
        font-family: 'Roboto', sans-serif;
        background: #13151a;
        background-size: 224px;
        color-scheme: dark light;
      }
	  body {
		font-family: 'Roboto', sans-serif;
		}
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
